Source: python-sjutils
Priority: optional
Section: python
Maintainer: Nicolas Delvaux <nicolas.delvaux@cji.paris>
Build-Depends: debhelper (>= 9),
               python-all (>= 2.6.6-3),
               dh-python,
               python-psycopg2
Standards-Version: 3.9.6

Package: python-sjutils
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-psycopg2
Description: SmartJog sjutils
 several Python utils for SmartJog tools
