Source: python-sjutils
Priority: optional
Section: python
Maintainer: Aurélien Dunand <aurelien.dunand@arkena.com>
Uploaders: Nicolas Delvaux <nicolas.delvaux@arkena.com>,
           Anaël Beutot <anael.beutot@arkena.com>
Build-Depends: debhelper (>= 8),
               python-all (>= 2.6.6-3),
               dh-python,
               python-psycopg2
Standards-Version: 3.9.6

Package: python-sjutils
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-psycopg2
Description: SmartJog sjutils
 several Python utils for SmartJog tools
